<div class="artist-search">
    <h1>Find an Artist</h1>
    <div>
        <p>Enter an artist to see random lyrics from that artist</p>
        <form {{action "submitArtistForm" on="submit"}}>
            <input type="text" required="true" name="arist" />
            <button type="submit">Find</button>
        </form>
    </div>
    <div>
        <p>Or select one of the developer's favorite artists!</p>
        <ul>
            <li {{action "changeArtist" "Foo Fighters"}}>Foo Fighters</li>
            <li {{action "changeArtist" "Led Zeppelin"}}>Led Zeppelin</li>
            <li {{action "changeArtist" "Ween"}}>Ween</li>
        </ul>
    </div>

</div>
{{yield}}